@mds-core:registry=https://lacunatech.jfrog.io/lacunatech/api/npm/npm/
@mds-core-private:registry=https://lacunatech.jfrog.io/lacunatech/api/npm/npm/
@lacuna-core:registry=https://lacunatech.jfrog.io/lacunatech/api/npm/npm/
@fortawesome:registry=https://npm.fontawesome.com/

save-exact=true
scripts-prepend-node-path=true

# pnpm
link-workspace-packages = true
prefer-workspace-packages = true
recursive-install = true
save-workspace-protocol = false
shared-workspace-shrinkwrap = true